@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  /* CSS HEX */
  --seasalt: #f9f8f8;
  --timberwolf: #cdd3ce;
  --french-gray: #bbb5bd;
  --sky-magenta: #aa6da3;
  --dark-violet: #9E0DB4;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0; 
  padding: 0;
  font-family: 'Quicksand', serif;
  color: var(--seasalt);
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

/*navigation bar, maybe is good i don't really know*/
nav {
  opacity: 50%;
  top: 0;
  left: 0;
  font-size: 4vh;
  position: fixed;
  width: 94%;
  padding-right: 10vw;
  padding-left: 10vw;
  gap: 2vw;
  box-sizing: border-box;
  background: var(--dark-violet);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  border-radius: 40px;
  margin-top: 1vh;
  margin-left: 3%;
  z-index: 2;
  box-shadow: 0 0 10px 5px var(--seasalt);
}

/*start the First section*/
#menu {
  width: 100%;
  height: 130vh;
  margin-top: 0;
  background: linear-gradient(
    180deg,
    var(--french-gray),
    var(--sky-magenta)
  );
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu h1 {
  font-size: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
}

#dynamic-text{
  text-align: left;
  padding-left: 20px;
  height: 60px;
  margin-top: 50px;
}

#dynamic-text li{
  list-style: none;
  position: relative;
  top: 0;
  overflow: hidden;
  border-right: .15em solid var(--dark-violet);
  animation: slide 6s steps(2) infinite, typing 3s steps(20) infinite,
  blink-caret 1s infinite;
}

@keyframes slide {
  100% {
    top: -125px;
  }
}

#dynamic-text {
  overflow: hidden;
}

#menu h1:nth-of-type(1){
  margin-bottom: 0;
}

#menu h1:nth-of-type(2) {
  height: 60px;
  margin-top: 0;
  margin-bottom: 96px;
}

#circle1::before {
  content: "";
}

#circle1 {
  left: -3px;
  position: absolute;
  background: linear-gradient(
    45deg,
    var(--timberwolf),
    var(--dark-violet)  
  );
  box-shadow: 4px 4px 30px var(--dark-violet);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#circle2, #circle3 {
  background: linear-gradient(
    45deg,
    var(--timberwolf),
    var(--dark-violet)  
  );
  box-shadow: 4px 4px 30px var(--dark-violet);
  top: 30vh;
  left: 40vw;
  position: absolute;
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 0;
}

#circle3 {
  top: 0;
  left: 70vw;
  width: 40vw;
  height: 40vw;
}

/*Section Projects*/

#Projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background: linear-gradient(
    -180deg,
    var(--sky-magenta),
    var(--french-gray)
  );
}

.control:hover {
  box-shadow: 0px 0px 20px 20px var(--dark-violet);
  border: 0;
  color: var(--seasalt);
}

.control:hover::before{
  transform: translateX(0%);
  opacity: 70%;
  box-shadow: 0px 10px 20px 30px var(--dark-violet);
}

/*wtf is going on with this stupid transition??*/
.control::before {
  content: "";
  opacity: 0%;
  position: absolute;
  z-index: -1;
  width: 100%;
  transform: translateX(-100%);
  height: 30vw;
  background: linear-gradient(
    90deg,
    var(--french-gray),
    var(--sky-magenta),
    var(--dark-violet)
  );
  transition: all 2s;
}

.control {
  position: relative;
  border: 3px dashed var(--dark-violet);
  height: 30vw;
  border-radius: 40px;
  color: transparent;
  transition: all 2s ease-in-out;
  z-index: 1;
  overflow: hidden;
  font-size: 25px;
  width: 90%;
  margin: 5%;
  margin-top: 7%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.project {
  border-radius: 10px;
  width: 40vw;
  height: 40vw;
}

#About {
  padding-top: 40px;
background: linear-gradient(
    -180deg,
    var(--french-gray),
    var(--sky-magenta)
  );
}

#About {
  height: 100vh;
}

#I {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-container {
  width: 30vw;
  height: 30vw;
  background-image: url("./img/personal_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#I p{
  top: 0;
  position: relative;
  margin: 0 10vw 0 5vw;
  font-size: 30px;
}

#I p:nth-of-type(1){
  height: 10vw;
}

#personal-photo {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

#image-container {
  border: 12px solid var(--sky-magenta);
  position: relative;
  overflow: hidden;
  border-radius: 10%;
  margin-right: 5vw;
  box-shadow: 0 0 30px 30px var(--sky-magenta);
}

#image-container {
  transition: transform 1s ease-in-out;
}

#image-container:hover{
  transform: scale(1.2);
}

#filter-image {
  box-sizing: content-box;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 40%;
  z-index: 2;
  background: var(--sky-magenta);
  
}

/*Create the Contact Section*/

#Contact {
  height: 90vh;
  background: linear-gradient(
    180deg,
    var(--sky-magenta),
    var(--french-gray)
  );
}

.container-particles {
  overflow: hidden;
  height: 93%;
}

.particles {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

.particles span {
  position: relative;
  width: 20px;
  height: 20px;
  background: var(--dark-violet);
  box-shadow: 0 0 0 15px var(--dark-violet),
  0 0 50px var(--dark-violet),
  -100px 0 var(--dark-violet),
  100px 0 var(--dark-violet);
  margin: 0 4px;
  border-radius: 50%;
  animation: animate 20s ease infinite;
  animation-duration: calc(125s / var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(160vh) scale(0) rotate(0deg);
  }
  20% {
    transform: translateY(150vh) scale(1) rotate(0deg);
  } 
  100% {  
    transform: translateY(0vh) scale(0.5) rotate(360deg);
    opacity: 0%;
  }
}

.contact-header {
  margin: 0;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  top: 40%;
}

































/*Media query and other stuff as animation*/

@media (max-width: 600px) {
  
  #menu {
    height: 60vh;
  }
  
  #circle3 {
    top: -10px;
    left: 80vw;
    width: 0;
    height: 0;
  }

  #dynamic-text {
    padding: 5px;
    padding-top: 0;
    font-size: 15px;
    height: 13px;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  @keyframes slide {
    100% {
      top: -37px;
    }
  }

  #menu h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 10px;
  }
  
  nav {
    justify-content: space-between;
    font-size: 2vh;
    z-index: 2;
    height: 5vh;
  }

  .project {
    margin: 10px;
    height: 40vw;
    width: 40vw;
  }

  #I {
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #About p {
    font-size: 12px;
    text-align: center;
    margin: 4px 0 0 0;
  }

  #I p:nth-of-type(2){
    margin-bottom: 20%;
  }

  #image-container {
    width: 80vw;
    height: 80vw;
    margin: 0;
    pointer-events: none;
  } 
 
  .particles span {
    position: relative;
    bottom: 30px;
    width: 10px;
    height: 10px;
    background: var(--dark-violet);
    box-shadow: 0 0 5px 20px var(--dark-violet),
    0 0 0px var(--dark-violet),
    0px 0 var(--dark-violet),
    0px 0 var(--dark-violet);
    margin: 0 4px;
    border-radius: 50%;
    animation: animate 20s ease infinite;
    animation-duration: calc(125s / var(--i));
  }
}

/*other animazing animation*/
@keyframes typing {
  /*100% {
    left: 100%;
    margin: 0 0 0 40px;
  }
  */
  from { width: 0}
  to { width: 100%}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--dark-violet) }
}



